{{#each this as |articles articleSection|}}
    {{#is articleSection 'uir'}}
        {{> article-publish-modal}}
    {{/is}}
    {{# if articles.length}}
        <section class="{{articleSection}}-list sticky" id="{{articleSection}}-list">
            {{#is articleSection 'uir'}}
                <button href="#" class="btn btn-default btn-publish-all-selected btn-publish-queued" data-toggle="modal"
                        data-target="#publish-modal" type="button">
                    <span class="fa fa-globe"></span>
                    Publish All Selected
                </button>
            {{/is}}
            <table class="article-snapshot-list">
                {{#is articleSection 'error'}}
                    <caption class="sticky-header">
                        <span class="fa e-icon md danger fa-warning  pull-left"></span>
                        <h4>Errors
                            {{# if articles.length}}
                                <small>({{articles.length}} Articles)</small>
                            {{/if}}
                        </h4>
                    </caption>
                {{/is}}
                {{#is articleSection 'inProgress'}}
                    <caption class="sticky-header">
                        <span class="fa e-icon md info fa-cog  pull-left"></span>
                        <h4>In Progress
                            <small>({{articles.length}} Articles)</small>
                        </h4>
                    </caption>
                {{/is}}
                {{#is articleSection 'uir'}}
                    <caption class="sticky-header">
                        <span class="fa e-icon md muted fa-hand-o-down  pull-left"></span>
                        <h4>
                            User Input Required
                            {{# if articles.length}}
                                <small>({{articles.length}} Articles)</small>
                            {{/if}}
                            <br>(Ready to Publish)
                        </h4>
                    </caption>
                {{/is}}
                {{#is articleSection 'scheduled'}}
                    <caption class="sticky-header">
                        <span class="fa e-icon md warning fa-clock-o  pull-left"></span>
                        <h4>Scheduled
                            {{# if articles.length}}
                                <small>({{articles.length}} Articles)</small>
                            {{/if}}
                        </h4>
                    </caption>
                {{/is}}
                <tbody>
                {{#each articles}}
                    {{> article-item section=articleSection }}
                {{/each}}
                </tbody>
            </table>
        </section>
    {{/if}}
{{/each}}