<div class="row">
    <div class="col-md-6">
        {{#if scheduleStatus.scheduled}}
            <p><span class="text-muted">Scheduled for <em><strong>{{elFormatUnixDate scheduleStatus.scheduled "MMMM D, YYYY h:mma" }}</strong></em></span></p>
        {{/if}}
    </div>
    <div class="col-md-6 text-right">
        {{#if currentArticle.preview-link}}
            <a href="{{currentArticle.preview-link}}" target="_blank" class="btn btn-default">
                <span class="fa fa-eye"></span>
                Preview
            </a>
        {{/if}}
        <span class="article-detail-actions"></span>
        {{#if currentArticle.scheduled-publication-date}}
            <button class="btn btn-default publish btn-publish" data-toggle="modal" data-target="#publish-modal"
                    type="button"
                    data-article-title="{{ currentArticle.doi }}"
                    data-article-id="{{ article.id }}"
                    data-article-version="{{ currentVersion }}"
                    data-article-run="{{ currentEvents.run-id }}">
                <span class="fa fa-globe"></span>
                Publish Now
            </button>
        {{/if}}
    </div>
</div>
