<section class="article-version-history">
    <ol class="article-version-history-list">
        {{#each currentEvents.events as |events|}}
            <li>
                <div class="column-1 {{event-status}}">
                    {{#is event-status 'start'}}
                        <span class="glyphicon e-icon lg warning glyphicon-exclamation-sign  pull-left" title="{{event-status}}"></span>
                    {{/is}}
                    {{#is event-status 'end'}}
                        <span class="glyphicon e-icon lg success glyphicon-ok  pull-left" title="{{event-status}}"></span>
                    {{/is}}
                    {{#is event-status 'error'}}
                        <span class="glyphicon e-icon lg danger glyphicon-remove  pull-left" title="{{event-status}}"></span>
                    {{/is}}
                    <span>{{event-type}}</span>
                </div>
                <div class="column-2">
                    <dl>
                        <dt><i>Timestamp:</i></dt>
                        <dd class="divide">{{elFormatUnixDate event-timestamp "DD/MM/YYYY" }}</dd>
                        <dd class="divide">{{elFormatUnixDate event-timestamp "HH:mm:ss" }}</dd>
                    </dl>
                    <dl>
                        <dt><i>Message:</i></dt>
                        <dd>{{event-message}}</dd>
                    </dl>
                </div>
            </li>
        {{/each}}
    </ol>
</section>