{{> article-publish-modal}}
{{> article-schedule-modal}}
<section class="article-detail">
    <div class="actions">
        {{#if currentArticle.preview-link}}
            <a href="{{currentArticle.preview-link}}" target="_blank" class="btn btn-default">
                <span class="glyphicon glyphicon-eye-open"></span>
                Preview
            </a>
        {{/if}}
        {{#if currentArticle.scheduled-publication-date}}
            <button class="btn btn-default schedule" id="schedule-amend" data-toggle="modal" data-target="#schedule-modal"
                    data-article-id="{{ article.id }}">
                <span class="glyphicon glyphicon-calendar"></span>
                Re-Schedule
            </button>
            <button class="btn btn-default schedule" id="schedule-cancel" data-toggle="modal" data-target="#schedule-modal"
                    data-article-id="{{ article.id }}">
                <span class="glyphicon glyphicon-calendar"></span>
                Cancel Schedule
            </button>
        {{else}}
            <button class="btn btn-default publish btn-publish" data-toggle="modal" data-target="#publish-modal" type="button"
                    data-article-title="{{ currentArticle.doi }}"
                    data-article-id="{{ article.id }}"
                    data-article-version="{{ currentVersion }}"
                    data-article-run="{{ currentEvents.run-id }}">
                <span class="glyphicon glyphicon-globe"></span>
                Publish Now
            </button>
            <button class="btn btn-default schedule" id="schedule" data-toggle="modal" data-target="#schedule-modal"
                    data-article-id="{{ article.id }}">
                <span class="glyphicon glyphicon-calendar"></span>
                Schedule
            </button>
        {{/if}}
    </div>
    <table class="snapshot">
        <tr>
            <td class="column-1">
                <span class="glyphicon glyphicon-file {{#if currentArticle.status}}{{lowercase currentArticle.status }}{{else}}no-article-status-type{{/if}}"></span>
                <h6>{{currentArticle.doi}}</h6>
                <p>{{currentArticle.title}}</p>
            </td>
            <td class="column-2">
                <dl>
                    <dt><i>Version:</i></dt>
                    <dd><strong>{{currentVersion}}</strong></dd>
                    <dt><i>Run:</i></dt>
                    <dd><strong>{{currentRun}}</strong></dd>
                </dl>
            </td>
        </tr>
    </table>
    <table class="detail">
        <tr>
            <td class="column-1">
                <dl>
                    {{#if currentArticle.article-type}}
                        <dt><i>Article type:</i></dt>
                        <dd>{{ currentArticle.article-type }}</dd>
                    {{/if}}
                    {{#if currentArticle.publication-date}}
                        <dt><i>Publication date:</i></dt>
                        <dd>{{currentArticle.publication-date}}{{!--{{elFormatUnixDate currentArticle.publication-date "MM/DD/YYYY HH:mm:ss" }}--}}</dd>
                    {{/if}}
                    {{#if currentArticle.corresponding-authors}}
                        <dt><i>Corresponding authors:</i></dt>
                        <dd>{{currentArticle.corresponding-authors}}</dd>
                    {{/if}}
                    {{#if currentArticle.authors}}
                        <dt><i>Authors:</i></dt>
                        <dd>{{currentArticle.authors}}</dd>
                    {{/if}}
                </dl>
            </td>
        </tr>
    </table>
</section>