<tr data-article-title="{{ doi }}"
    data-article-id="{{ id }}"
    data-article-version="{{ version }}"
    data-article-run="{{ run-id }}">
    <td class="column-1">
        <a href="/article/{{id}}/{{ version }}/{{ run }}" class="hidden-xs">
            <span class="glyphicon glyphicon-file {{#if status}}{{lowercase status }}{{else}}no-article-status-type{{/if}}"></span>
        </a>
        <h6>
            <a href="/article/{{id}}/{{ version }}/{{ run }}">{{#if doi}}{{ doi }}{{else}}Not yet available ({{id}}){{/if}}</a>
        </h6>
        {{#if title}}
            <p>
                <a href="/article/{{id}}/{{ version }}/{{ run }}">{{ title }}</a>
            </p>
        {{/if}}
    </td>
    <td class="column-2">
        <dl>
            {{#if version}}
                {{#if doi}}
                    <dt>
                        <a href="/article/{{id}}/{{ version }}/{{ run }}"><i>Version:</i></a>
                    </dt>
                    <dd>
                        <a href="/article/{{id}}/{{ version }}/{{ run }}">{{ version }}</a>
                    </dd>
                {{/if}}
            {{/if}}
            {{#if article-type}}
                <dt>
                    <a href="/article/{{id}}/{{ version }}/{{ run }}"><i>Article type:</i></a>
                </dt>
                <dd>
                    <a href="/article/{{id}}/{{ version }}/{{ run }}">{{ article-type }}</a>
                </dd>
            {{/if}}
            {{#if publication-date}}
                <dt>
                    <a href="/article/{{id}}/{{ version }}/{{ run }}"><i>Publication date:</i></a>
                </dt>
                <dd>
                    <a href="/article/{{id}}/{{ version }}/{{ run }}">{{publication-date}}{{!--{{elFormatUnixDate publication-date "Do MMMM YYYY" }}--}}</a>
                </dd>
            {{/if}}
            {{#if corresponding-authors}}
                <dt>
                    <a href="/article/{{id}}/{{ version }}/{{ run }}"><i>Corresponding authors:</i></a>
                </dt>
                <dd>
                    <a href="/article/{{id}}/{{ version }}/{{ run }}">{{ corresponding-authors }}</a>
                </dd>
            {{/if}}
        </dl>
    </td>
    {{#isnt section 'uir'}}
        <td class="column-3">
            <p>
                <b>
                    {{#if event-type}}
                        <a href="/article/{{id}}/{{ version }}/{{ run }}">{{ uppercase event-type }}</a>
                    {{/if}}
                    {{#if event-status}}
                        <br/>
                        <a href="/article/{{id}}/{{ version }}/{{ run }}">{{ uppercase event-status }}</a>
                    {{/if}}
                </b>
            </p>
        </td>
    {{/isnt}}
    {{#is section 'uir'}}
        <td class="column-3">
            <a href="{{preview-link}}" target="_blank" class="btn btn-default preview">
                <span class="glyphicon glyphicon-eye-open"></span>
                Preview
            </a>
            <button class="btn btn-default publish btn-publish" data-toggle="modal" data-target="#publish-modal"
                    type="button">
                <span class="glyphicon glyphicon-globe"></span>
                Publish Now
            </button>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="toggle-publish-all"> Batch Publishing
                </label>
            </div>
        </td>
    {{/is}}

</tr>