{{#if responseText.detail}}
<div class="alert alert-muted">
    <div class="row">
        <div class="col-sm-6"><p class="h5">{{response.status}} {{response.statusText}}</p></div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Show Details
            </button>
        </div>
    </div>
    <div class="collapse" id="collapseExample">
        <hr />
        {{#if responseText.message}}<p>{{responseText.message}}</p>{{/if}}
        {{#if message}}<p>{{{message}}}</p>{{/if}}
        {{#if responseText.detail}}<div class="well"><p>{{responseText.detail}}</p></div>{{/if}}
    </div>

</div>
{{/if}}
