<div class="alert elf-alert {{#if errorType }}alert-{{errorType}}{{else}}alert-danger{{/if}}">
{{#if response}}<p class="h5 text-uppercase">{{response.status}}: {{response.statusText}}</p>{{/if}}
{{#if responseText.message}}<p>{{responseText.message}}</p>{{/if}}
{{#if message}}<p>{{{message}}}</p>{{/if}}
{{#is response.status 500}}</div>{{/is}}