<tr data-article-title="{{ title }}" data-article-id="{{ id }}" data-article-version="{{ version }}"
    data-article-run="{{ run }}">
    <td class="column-1">
        <a href="#" class="hidden-xs">
            <span class="glyphicon glyphicon-file {{lowercase status }}"></span>
        </a>
        <h6>
            <a href="#">{{ doi }}</a>
        </h6>

        <p>
            <a href="#">{{ title }}</a>
        </p>
    </td>
    <td class="column-2">
        <dl>
            <dt>
                <i>Version:</i>
            </dt>
            <dd>
                {{ version }}
            </dd>
            <dt>
                <i>Article type:</i>
            </dt>
            <dd>
                {{ article-type }}
            </dd>
            <dt>
                <i>Publication date:</i>
            </dt>
            <dd>
                {{elFormatUnixDate publication-date "Do MMMM YYYY" }}
            </dd>
            <dt>
                <i>Corresponding authors:</i>
            </dt>
            <dd>
                {{ corresponding-authors }}
            </dd>
        </dl>
    </td>
    {{#isnt section 'uir'}}
        <td class="column-3">
            <p>
                <b>{{ uppercase event-type }}
                <br/>{{ uppercase event-status }}</b>
            </p>
            <p>
                <small>({{ event-timestamp }})</small>
            </p>
        </td>
    {{/isnt}}
    {{#is section 'uir'}}
        <td class="column-3">
            <button class="btn btn-default preview">
                <span class="glyphicon glyphicon-eye-open"></span>
                Preview
            </button>
            <button class="btn btn-default publish btn-publish" data-toggle="modal" data-target="#publish-modal"
                    type="button">
                <span class="glyphicon glyphicon-globe"></span>
                Publish Now
            </button>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="toggle-publish-all"> Batch Publishing
                </label>
            </div>
        </td>
    {{/is}}

</tr>