{{#each this as |articles articleSection|}}
{{#is articleSection 'uir'}}
    {{> article-publish-modal}}
{{/is}}
{{# if articles.length}}
<section class="{{articleSection}}-list" id="{{articleSection}}-list">
    <table class="article-snapshot-list">
        {{#is articleSection 'error'}}
        <caption>
            <span class="glyphicon glyphicon-warning-sign glyphicon-warning-sign--mod pull-left"></span>
            <h4>Errors
                {{# if articles.length}}
                <small>({{articles.length}} Articles)</small>
                {{/if}}
            </h4>
        </caption>
        {{/is}}
        {{#is articleSection 'in-progress'}}
        <caption>
            <span class="glyphicon glyphicon-cog glyphicon-cog--mod pull-left"></span>
            <h4>In Progress <small>({{articles.length}} Articles)</small></h4>
        </caption>
        {{/is}}
        {{#is articleSection 'uir'}}
        <caption>
            <span class="glyphicon glyphicon-hand-down glyphicon-hand-down--mod pull-left"></span>
            <h4>
                User Input Required
                {{# if articles.length}}
                    <small>({{articles.length}} Articles)</small>
                {{/if}}
                <br>(Ready to Publish)
            </h4>
        </caption>
        {{/is}}
        {{#is articleSection 'scheduled'}}
        <caption>
            <span class="glyphicon glyphicon-time glyphicon-time--mod pull-left"></span>
            <h4>Scheduled
                {{# if articles.length}}
                    <small>({{articles.length}} Articles)</small>
                {{/if}}
            </h4>
        </caption>
        {{/is}}
        <tbody>
        {{#each articles}}
            {{> article-item-template section=articleSection }}
        {{/each}}
        </tbody>
    </table>
</section>
{{/if}}
{{/each}}