<span class="article-status">
    {{#is status 'error'}}
        <span class="glyphicon glyphicon-remove glyphicon-remove--stat"></span>
        <br />
        <span class="text-muted">{{capitalizeFirst status}}{{#if message}}:{{/if}} {{message}}</span>
    {{/is}}
    {{#is status 'queued'}}
        <div class="throbber-loader throbber-loader--small "></div>
        <br />
        <span class="text-muted">{{capitalizeFirst status}}{{#if message}}:{{/if}} {{message}}</span>
    {{/is}}
    {{#is status 'ready to publish'}}
        <div class="throbber-loader throbber-loader--small "></div>
        <br />
        <span class="text-muted">{{capitalizeFirst status}}{{#if message}}:{{/if}} {{message}}</span>
    {{/is}}
    {{#is status 'published'}}
        <span class="glyphicon glyphicon-ok glyphicon-ok--stat"></span>
        <br />
        <span class="text-muted">{{capitalizeFirst status}}{{#if message}}:{{/if}} {{message}}</span>
    {{/is}}
</span>

