<span class="article-status {{publication-status}} {{id}}">
    {{#is publication-status 'error'}}
        <span class="fa e-icon sm danger fa-times"></span>
        <br />
        <span class="text-muted">{{capitalizeFirst publication-status}}{{#if message}}:{{/if}} {{message}}</span>
    {{/is}}
    {{#is publication-status 'queued'}}
        <div class="throbber-loader throbber-loader--small "></div>
        <br />
        <span class="text-muted">{{capitalizeFirst publication-status}}{{#if message}}:{{/if}} {{message}}</span>
    {{/is}}
    {{#is publication-status 'ready to publish'}}
        <div class="throbber-loader throbber-loader--small "></div>
        <br />
        <span class="text-muted">{{capitalizeFirst publication-status}}{{#if message}}:{{/if}} {{message}}</span>
    {{/is}}
    {{#is publication-status 'published'}}
        <span class="fa e-icon sm success fa-check"></span>
        <br />
        <span class="text-muted">{{capitalizeFirst publication-status}}{{#if message}}:{{/if}} {{message}}</span>
    {{/is}}
</span>

