{{> article-publish-modal}}
{{> article-schedule-modal}}
<section class="article-detail"  id="article-{{article.id}}">
    <table class="snapshot">
        <tr>
            <td class="column-1">
                <span class="fa fa-file {{#if currentArticle.status}}{{lowercase currentArticle.status }}{{else}}no-article-status-type{{/if}}"></span>
                <h6 class="article-doi">{{currentArticle.doi}}</h6>
                <p>{{currentArticle.title}}</p>
            </td>
            <td class="column-2">
                <dl>
                    <dt><i>Version:</i></dt>
                    <dd><strong>{{currentVersion}}</strong></dd>
                    <dt><i>Run:</i></dt>
                    <dd><strong>{{currentEvents.run-number}}</strong></dd>
                </dl>
            </td>
        </tr>
    </table>
    <table class="detail">
        <tr>
            <td class="column-1">
                <dl>
                    {{#if currentRun}}
                        <dt><i>Run id:</i></dt>
                        <dd>{{ currentRun }}</dd>
                    {{/if}}
                    {{#if currentArticle.article-type}}
                        <dt><i>Article type:</i></dt>
                        <dd>{{ currentArticle.article-type }}</dd>
                    {{/if}}
                    {{#if currentArticle.publication-date}}
                        <dt><i>Publication date:</i></dt>
                        <dd>{{currentArticle.publication-date}}{{!--{{elFormatUnixDate currentArticle.publication-date "MM/DD/YYYY HH:mm:ss" }}--}}</dd>
                    {{/if}}
                    {{#if currentArticle.corresponding-authors}}
                        <dt><i>Corresponding authors:</i></dt>
                        <dd>{{currentArticle.corresponding-authors}}</dd>
                    {{/if}}
                    {{#if currentArticle.authors}}
                        <dt><i>Authors:</i></dt>
                        <dd>{{currentArticle.authors}}</dd>
                    {{/if}}
                </dl>
            </td>
        </tr>
    </table>
</section>