<section class="article-event-timeline">
{{#each currentEvents.events as |events|}}
<div class="article-event-timeline__row">
    <div class="article-event-timeline__status">
        {{#is event-status 'start'}}
            <span class="fa e-icon md info fa-cog status-icon" title="{{event-status}}"></span>
        {{/is}}
        {{#is event-status 'end'}}
            <span class="fa e-icon md success fa-check status-icon" title="{{event-status}}"></span>
        {{/is}}
        {{#is event-status 'error'}}
            <span class="fa e-icon md danger fa-times status-icon" title="{{event-status}}"></span>
        {{/is}}
        <span class="line"></span>
    </div>
    <div class="article-event-timeline__title"><p>{{event-type}}</p></div>
    <div class="article-event-timeline__detail">
        <div>
            <dl>
                <dt><i>Timestamp:</i></dt>
                <dd class="divide">{{elFormatUnixDate event-timestamp "DD/MM/YYYY" }} {{elFormatUnixDate event-timestamp "HH:mm:ss" }}</dd>
            </dl>
            <dl>
                <dt><i>Message:</i></dt>
                <dd>{{event-message}}</dd>
            </dl>
        </div>
    </div>
</div>
{{/each}}
</section>