<tr class="article__row" id="article-{{id}}">
    <td class="article__col article__col__icon">
    {{#if doi}}
    <a href="/article/{{id}}/{{ version }}/{{ run-id }}" class="hidden-xs article__icon">
        <span class="fa fa-file {{#if status}}file-icon-{{lowercase status }}{{else}}file-icon-none{{/if}}"></span>
        </a>
    {{else}}
        <span class="hidden-xs article__icon">
            <span class="fa fa-file {{#if status}}file-icon-{{lowercase status }}{{else}}file-icon-none{{/if}}"></span>
        </span>
    {{/if}}
    </td>
    <td class="article__col article__col__title">
        <h6 class="article__title">
            {{#if doi}}
                <a href="/article/{{id}}/{{ version }}/{{ run }}" class="article-doi">{{ doi }}</a>
            {{else}}
                Not yet available ({{id}})
            {{/if}}
        </h6>
        {{#if title}}
            <p>
                <a href="/article/{{id}}/{{ version }}/{{ run }}">{{ title }}</a>
            </p>
        {{/if}}
    </td>
    <td class="article__col article__col__info">
        <dl>
            {{#if version}}
                {{#if doi}}
                    <dt>
                        <a href="/article/{{id}}/{{ version }}/{{ run }}"><i>Version:</i></a>
                    </dt>
                    <dd>
                        <a href="/article/{{id}}/{{ version }}/{{ run }}">{{ version }}</a>
                    </dd>
                {{/if}}
            {{/if}}
            {{#if article-type}}
                <dt>
                    <a href="/article/{{id}}/{{ version }}/{{ run }}"><i>Article type:</i></a>
                </dt>
                <dd>
                    <a href="/article/{{id}}/{{ version }}/{{ run }}">{{ article-type }}</a>
                </dd>
            {{/if}}
            {{#if publication-date}}
                <dt>
                    <a href="/article/{{id}}/{{ version }}/{{ run }}"><i>Publication date:</i></a>
                </dt>
                <dd>
                    <a href="/article/{{id}}/{{ version }}/{{ run }}">{{publication-date}}{{!--{{elFormatUnixDate publication-date "Do MMMM YYYY" }}--}}</a>
                </dd>
            {{/if}}
            {{#if corresponding-authors}}
                <dt>
                    <a href="/article/{{id}}/{{ version }}/{{ run }}"><i>Corresponding authors:</i></a>
                </dt>
                <dd>
                    <a href="/article/{{id}}/{{ version }}/{{ run }}">{{ corresponding-authors }}</a>
                </dd>
            {{/if}}
        </dl>
    </td>

    <td class="article__col article__col__action">
        {{#if scheduled-publication-date}}
            <p><strong><span
                    class="text-uppercase">Scheduled</span><br/>{{elFormatUnixDate scheduled-publication-date "DD/MM/YYYY h:mma" }}
            </strong></p><br/>
            <button class="btn btn-default btn-block schedule" id="schedule-amend" data-toggle="modal"
                    data-target="#schedule-modal"
                    data-article-id="{{ id }}"
                    data-title="Re-schedule Article">
                <span class="fa fa-calendar"></span>
                Re-Schedule
            </button>
            <button class="btn btn-default btn-block schedule" id="schedule-cancel" data-toggle="modal"
                    data-target="#schedule-modal"
                    data-article-id="{{ id }}"
                    data-title="Cancel Schedule">
                <span class="fa fa-calendar-minus-o"></span>
                Cancel
            </button>
        {{/if}}
    </td>


</tr>